bot.nick=TitanBot
bot.version=1.0.0
bot.real_name=TitanBot
bot.username=TitanBot
bot.password=NONE
irc.server=irc.server.com
irc.port=6697
irc.autojoin_channel=#test
rate=0.4
urbandict.api_key=NONE
wolfram.api_key=NONE
weather.api_key=NONE
google.api_key=NONE
computer_vision.api_key=NONE
games.restrict_channel=NO
games.wordlist=src/main/resources/wordlist.txt
ignore_nicks=NONE